body {
  background-color: antiquewhite;
  font-family: inherit;
  font-style:italic;
  color: black;
}
.head{
  text-align: center;
  color: mediumvioletred;
  font-size: 50px;
  text-shadow: -3px 3px rgb(190, 137, 137);
  font-style:normal;

}
h2 {
  text-align: center;
  font-family: cursive;
  letter-spacing: 6px;
  color: deeppink;
}
h3 {
  color: #f49807;
  font-style:normal;
  font-family:sans-serif
}
h4{
  font-size: 18px;
  text-decoration:underline;
  text-align: center;
  color:rgb(121, 79, 29)
  
}
h6{
  text-align: right;
  color: black;
  
}
p {
  font-style:normal;
  color: rgb(94, 46, 116);
}
  
.homepage{
    text-align: center;
    color:rgb(143, 24, 70); 
    font-family: fantasy;
    font-size: 50px;   
  }

.intro{
    color:rgb(105, 39, 14);
    font-style: italic;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
  }

  
  .flex-container {
  background-color: pink;
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: flex-end;
    display: flex;
  justify-content: space-between;

}

.flex-container > div {
 
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
 
}
.grid-item{
  color: purple;
  font-style: normal;
  text-decoration:underline;
  font-family: cursive;
  
}
